body {
  width: 100%;
}

.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  li {
      list-style: none;
  }
  .list {
      display: flex;
      flex-wrap: wrap;
      margin-right: 5%;
      justify-content: center;
  }
  
  .list-pic {
    height: 100px;
    width: 100px;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: blueviolet;
    font-weight: 600;
    font-size: larger;
  }